Flask==3.0.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1
PyMySQL==1.1.1
marshmallow==3.21.3
python-dotenv==1.0.1
gunicorn==22.0.0
cryptography==43.0.1
